* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  background-color: yellow;
}

body {
  font-family: 'Helvetica', sans-serif;
  font-size: 200%;
  color: white;
  /* background-color: #11155d; */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(270deg, #0391cd, #040b91);
  background-size: 400% 400%;

  -webkit-animation: bruised 16s ease infinite;
  -moz-animation: bruised 16s ease infinite;
  animation: bruised 16s ease infinite;
}

@-webkit-keyframes bruised {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

@-moz-keyframes bruised {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

@keyframes bruised {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

.animated-page-wrapper {
  width: 100%;
  height: 100%;
}

.home_link {
  position: absolute;
  top: 15px;
  left: 15px;
}

.work_link {
  position: absolute;
  bottom: 15px;
  left: 15px;
}

.about_link {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.contact_link {
  position: absolute;
  top: 15px;
  right: 15px;
}

a {
  border-bottom: 3px solid white;
  background: linear-gradient(to bottom, var(--mainColor) 0%, var(--mainColor) 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 3px 3px;
  color: inherit;
  text-decoration: none;
}

a:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23fff' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: auto 6px;
  background-repeat: repeat-x;
  text-decoration: none;
  border-bottom: 3px solid transparent;
}

.page {
  height: 80vh;
  max-width: 85vw;
  overflow: auto;
}

.about, .contact {
  width: 85vw;
}

form {
  text-align: center;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: rgba(0,0,0,0); /* or add it to the track */
}

::-webkit-scrollbar-thumb {
    background: #fff;
}

::-webkit-scrollbar-corner {
  background-color: rgba(0,0,0,0);
}

input, textarea {
  border: none;
  font-size: 75%;
  font-family: inherit;
  width: 400px;
  margin: 10px auto;
  text-align: left;
  background-color: transparent;
  border-bottom: 3px solid white;
  color: white;
  font-weight: bold;
}

input::placeholder, textarea::placeholder {
  color: #fff;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  outline: none;
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

textarea {
  resize: none;
}

button {
  font-family: inherit;
  font-size: 75%;
  font-weight: bold;
  background-color: inherit;
  color: white;
  border: none;
  border-bottom: 3px solid white;
}

button:hover, button:focus {
  outline: none;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23fff' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: auto 6px;
  background-repeat: repeat-x;
  text-decoration: none;
  border-bottom: 3px solid transparent;
}

a:focus, input:focus, textarea:focus {
  outline: none;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23fff' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: auto 6px;
  background-repeat: repeat-x;
  text-decoration: none;
  border-bottom: 3px solid transparent;
}

/* a:focus {
  outline: none;
} */

.name {
  /* font-size: 775%; */
  font-size: 34vmin;
  margin: 0;
  margin-top: 50px;
  /* line-height: 210px; */
  line-height: 30vmin;
}

.lname {
  color: rgba(0,0,0,0);
  -webkit-text-stroke: 2px white;
}

.work {
  display: grid;
  /* height: 100%; */
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 1px 1px;
  grid-template-areas: "proj_desc proj_img";
  /* margin-bottom: 10vh; */
}

.proj_desc {
  grid-area: proj_desc;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-right: 20px;
}

.proj_img {
  grid-area: proj_img;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

img {
  max-width: 500px;
}

.img_a {
  border-bottom: 3px solid transparent;
}

.hidden {
  display: none;
}

/* Animated route css */
.route-wrapper {
  position: relative;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.route-wrapper > div {
  position: absolute;
  width: 85vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
